/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quattrocento:wght@400;700&display=swap');

/* site colour palette */
:root {
    --main-col: #0071A4;
    --second-col: #EE691f; 
    --outline-col: #F3F4F4;
    --third-col: #000000;
    --accent-col: #EE177A;
}


/* generic style reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:var(--third-col);
    color: white;
}

/* add your own style rules here */
.active {
    color: var(--third-col);
    background-color: var(--second-col);
    border-radius: 30px;
    padding: 10px 15px;
}

.navbutton :hover {
    background-color: var(--main-col);
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

header li {
    display: inline-block;
    justify-items: flex-end;
    padding: 10px 15px;
}

header a {
    text-decoration: none;
    color: var(--outline-col);
    font-family: Lato;
}

header img {
    width: 130px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero {
    background-image: url(img/bridge_hero_image.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
}

.hero-overlay {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 25px;
    justify-self: center;
    right: 2%;
    left: 2%;
    bottom: 50%;
    font-size: 100px;
    font-family: Quattrocento;
}

.jumpbackdrop {
    background-image: url(img/ultra-bungee-hero.jpg);
    height: 90vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.jump-overlay {
    position: absolute;
    display: flex;
    justify-self: center;
    right: 2%;
    left: 2%;
    bottom: -30%;
    font-size: 100px;
    font-family: Quattrocento;
}

.jumpbuttons {
    display: flex;
    justify-content: center;
    gap: 300px;
    list-style: none;
    margin-top: -200px;
    position: relative;
    z-index: 2;
}

.jumpbuttons a {
    text-decoration: none;
    color: var(--third-col);
    padding: 15px 30px;
    font-size: 40px;
    background-color: var(--outline-col);
    border-radius: 10px;
    font-family: Lato;
}

/* Hover Effect for Jumpbuttons on Home Page */
.jumpbuttons a:hover {
    background-color: var(--main-col);
    font-size: 45px;
    transition: background-color, font-size 0.3s ease;
    color: var(--outline-col);
}

.reviews-section {
    text-align: center;
    margin: 50px 0;
    color: var(--outline-col);
    background-image: url(img/canyon3.jpg);
    background-repeat: no-repeat;
    background-position-y: -150px;
    height: 90vh;
    width: auto;
    position: relative;
    z-index: 3;
}

.reviews-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.review-card {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 20px;
    border-radius: 35px;
    width: 500px;
    height: 480px;
    color: var(--outline-col);
    font-family: Lato;
    margin: 80px;
}

.review-card h3 {
    margin-bottom: 10px;
    color: var(--main-col);
}

.review-card p {
    margin-bottom: 5px;
    color: var(--accent-col);
}

footer {
    background-color: var(--main-col);
    color: var(--outline-col);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.footer-content a {
    color: var(--outline-col);
    text-decoration: none;
    margin: 0 10px;
    font-family: Lato;
    font-size: 20px;
}

.footer-links {
    margin-left: 1176px;
}

.book-now {
    background-color: var(--accent-col);
    color: var(--outline-col);
    padding: 5px 15px;
    border-radius: 17px;
    text-decoration: none;
}

.reviews-section h2 {
    font-size: 40px;
    padding-top: 20px;
    font-family: Quattrocento;
}

/* Style for Jump Pages */

.heroimage1 {
    background-image: url(img/bridge2.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position-y: -400px;
    background-repeat: no-repeat;
}

.hero-overlay1 {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 25px;
    justify-self: center;
    right: 2%;
    left: 2%;
    bottom: 45%;
    font-size: 100px;
    font-family: Quattrocento;
}

.prices {
    background-image: url(img/bungee_general2.jpg);
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position-y: -400px;
    background-repeat: no-repeat;
    align-content: center;
}

.prices h2, .prices h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-family: lato;
    font-size: 20px;
}

.infosection {
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    background-image: url(img/bridge_hero_image.jpg);
}

.infosectioninstructor {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 14px;
    padding: 20px;
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 3px 90px;
}

.infosectionmoreinfo {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 14px;
    padding: 20px;
    display: grid;
    text-align: center;
    justify-items: center;
    margin: 3px 90px;
}